<div class="nested-fields form-inline">
  <div class="field">
    <%= f.label :index %>
    <%= f.number_field :index, :size => "50" %>
    <%= f.label :tune_name %>
    <%= f.text_field :tune_name %>
  </div>
</div>