<div class = "main-visual">
<div class="container">
<div class="row">

  <div class="col-xs-1">
  </div>

  <div class="col-xs-11">

退会ページ
<div style="padding: 10px; border: 1px dotted; #333333;border-radius: 10px; margin: 10px;">
本当に<br>
退会しますか？

	<button type="button" class="btn btn-success">
	    <%= link_to "退会せずにマイページに戻る", user_path(current_user.id) %>
	</button>
<button type="button" class="btn btn-danger">
	<%= link_to  destroy_delete_path(current_user), method: :delete do%>
		退会する
		</button>
		<%end%>
</div>
</div>
</div>
