<div class="container admin">
  <h2>ジャンル一覧</h2>
  <%= link_to "TOP", admin_top_path, class: "btn btn-primary" %>
  <%= link_to "New Genre", new_admin_genre_path, class: "btn btn-warning" %>
  <table class="table">
    <thead>
      <tr>
        <th>ジャンル名</th>
        <th></th>
      </tr>
    </thead>
     <% @genres.each do |genre| %>
      <tbody>
        <tr>
          <td>
            <%= genre.genre %>
          </td>
          <td>
            <%= link_to "Edit", edit_admin_genre_path(genre.id) %>
          </td>
        </tr>
      </tbody>
     <% end %>
  </table>
</div>

