<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>
<div class="container">
<div class="row">
  <div class="col-xs-1">
  </div>



  <div class="col-xs-11">
	<h2>Carts</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>商品情報</th>
          <th>値段</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
      <% @carts.each do |cart| %>
        <tr>
          <td>画像</td>
          <td>￥<%= cart.item.price %></td>
          <td><%= cart.amount %>枚</td>
          <td><%= @subtotal = cart.item.price * cart.amount %></td>
        </tr>
      </tbody>
    <% end %>
    </table>
       <div>合計</div>
       <div>
       	<%= @total %>

       </div>
  </div>
</div>
</div>