// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

.red {
  color: red;
  animation: Red 2s infinite;
}

@keyframes Red {
  50%{
  opacity: 0;
  }
}

.blue {
  color: blue;
}

.gray {
  color: gray;
}

.show-titile {
  text-align: center;
}

.dlv_status {
  display: inline-block;
  text-align: center;
}