<div class="container">
  <h2 class="clearfix">top test</h2>
  <div class="cart_item" >
    <% @items.each do |item| %>
      <%= link_to carts_path(item_id: item.id), method: :post, data: {confirm: "カートに追加しますか？"} do %>
        <%= item.title %>
      <% end %>
    <% end %>
  </div>
</div>
