/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/

.container {
	width: 80%;
	margin: 0 auto;
}

.navbar-inverse {
	background-color: #151515;
	margin-bottom: 0px;
}
.navbar-fixd-top {
	top: 0;
}
.navbar-left {
	color: #9d9d9d;
}
.span {
	padding: 10px;
	text-decoration:none;
	color: #9d9d9d;
}
.span:hover{
	text-decoration:none;
	color: #666;
}

.top-visual {
    width: 100%;
	background-color: #2E2E2E;
    color: #FFFFFF;
    font-family: monospace;
}

.main-visual {
    width: 100%;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 14px;
}

main {
	position: relative;
}

#notice {
	position: absolute;
	top: 0; left: 0;
	z-index: 30;
	width: 100%;
	background-color: #98fb98;
	color: #696969;
	text-align: center;
}

#alert {
  
  top: 0; left: 0;
  
  width: 100%;
  background-color: #dc143c;
  color: white;
  text-align: center;
}


.itembox {
	border: inset 5px #FFFFFF;
}

.panel {
	margin: 10px;
}

.panel-default {
	padding: 10px;
}

.ship-text {
	margin: 10px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #151515;
    line-height: 60px;
}
.copyright {
    font-size: 16px;
	color: #9d9d9d;
    text-align: center;
}
.button {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}
.button-danger {
  display: inline-block;
  padding: 5px 8px;
  background-color: red;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

.box-info {
  margin: 10px;
  display: inline-block;
  padding: 5px 8px;
  background-color: #FFF;
  border: solid 3px black;
  border-radius: 3px;
  color: #2E2E2E;
  font-size: 11px;
}
.text-big {
  font-size: 36px;
}
.text-mid {
  font-size: 24px;
}
