// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {

}

.item img {
    overflow: hidden;
    float: left;
    margin: 10px;
    display: block;
    transition-duration: 0.3s;
}

.item img:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.item-image {
	margin-top: 10px;
}