<h1>Admin#top</h1>

<div class= "container">

<ul>
<li><%= link_to 購入履歴一覧, oders_path(order.id), class: "" %></li>
<li><%= link_to 商品一覧, items_path(item.id), class: "" %></li>
<li><%= link_to アーティスト一覧, artists_path(artist.id), class: "" %></li>
<li><%= link_to ユーザー一覧, users_path(user.id), class: "" %></li>
</ul>


</div>
